/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  margin: 0;
  background-color: #383738;
  color: #e2e2e2;
  font-family: 'Trebuchet MS', sans-serif;
}
